@media(max-width:768px){
  .navbar-content{
    background-color: #ededed;
  }
.branding-col{
  margin-top: 10px;   
}
.branding-col img{
  width: 30%;
  height:30%;
}
.branding-col .search  {
  display: none;
}
 .cart-profile{
  margin-top: 1rem;
}
}

@media(max-width:992px){
  .navbar-collapse {
    z-index: 10;
    background-color: #f3f2f2;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
  }
}

.activelink{
    color: black;
    background-color: #fff;
    padding: 8px;
    border-radius: 5px;
}
.activelink :hover{
    color:red;
}
.firstseenprofile{
    width: 30px;
    height: 30px;
}
.nav-link{
    color:black
}
.nav-link:hover{
    color:var(--myred);
}
a:hover {
    color: var(--green);
}
.navbar {
  box-shadow: 0 4px 12px 0 #2e25272e, 0 2px 4px rgb(0 0 0 / 5%);
  
  height: 50px;
}

.search  {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 12px;
  width: 10rem;
}
 
.search-text{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;
  padding: 0 35px;
  border: 1px solid #e4e7eb;
  border-radius: 6px;
  transition: .3s; 
}

input[type="text"]::placeholder {  
  padding-left: 25px; 
} 
.sub-search{
  position: absolute;
  border: none;
  background: url(../../asset/search.svg) no-repeat center;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  border-radius: 100%;
  transition: .3s;
  transform: rotate(0deg);   
}

.sub-search:hover{
    opacity: .6;
    transform: rotate(40deg);
}

.cart-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
  }
  .cart-profile a {
    padding: 0.5rem 1rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
   
    color: #444;
  
  }
  .cart-profile a:hover {
    color: var(--green)
  }
  
  .cartLinkBadge {
    position: relative;
  }
  .cartCount {
    top: -10px;
    right: 1px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--green);
    color: #fff;
  }
  .cart-icon,
  .profile-icon {
    font-size: 1.5rem;
  }
  
.under-nav{
  height: 30px;
}

/* dropdown hover submenu navbar */



/* stroke animation for navbar menu */
ul.stroke  li a {
  position:relative; 
  padding: 1px;
  cursor: pointer;
}

ul.stroke  li a:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--green);
  height: 3px;
  
}
ul.stroke  li a:hover:before {
  width: 100%;
}
ul li a,
ul li a:before,
ul li a:after {
  transition: all 1s;
}