.hovereffect:hover .img1{
    opacity: 0;
    
transition: 2s all;
}
@media (max-width: 700px){
    .md-form{
        padding: 3px 6px;
    }
}

.searchinput{
    height: 50px;
    
}
.searchproduct{
    position: absolute;    
    /* background: url(../../asset/searchproductpage.svg) no-repeat center; */
    width: 40px;
    height: 40px;
    top: 50%;
    left:100%;
    margin-top: -25px;

   
    
  }