.swiper-container{
    height: 60vh;
}

.swiper-slide img{
        display:block;
        width:100%;
        height: auto;
        object-fit: cover;
    }

    .swiper-slide{
            background-position: center;
            background-size:cover;
           
            @media(max-width:768px){
                width:250px;
                height:auto;
            }
        }

    .swiper-pagination-bullet{
        width:25px;
        height:5px;
        border-radius: 5px;
    }