.swiper-container{
    // height: 60vh;
}

.swiper-slide img{
        display:block;
        width:100%;
        height: auto;
        object-fit: cover;
        
    }

    .slider .swiper-slide{
            background-position: center;
            background-size:cover;
           
            @media(max-width:768px){
                width:250px;
                height: auto;
            }
            img {
              
                @media(max-width:768px){
                    max-width: 100%;
                    width: fit-content;
                    height: 350px;
                }
            }
        }

    .swiper-pagination-bullet{
        width:25px;
        height:5px;
        border-radius: 5px;
    }