@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
:root{
    --myred:#ed1d24;
    --green:#3f9a59;
    --spacing-base: 4px;
}
body{
    font-family: 'Karla', sans-serif;
}

.bg{
    background-color: #ededed;
}
html {
    position: relative;
    min-height: 100%;
    
}
main {
    width: fit-content;
    box-sizing: border-box; /* because 100% + padding > 100% */
   
}